<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NRF | Operation Status</title>
    <link rel="icon" href="../static/imgs/CRF_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/operation_status.style.css">
    <link rel="stylesheet" href="../static/icon/boxicons-2.1.4/css/boxicons.min.css">
</head>
<body>
    <div class="status-container">
        <div class="icon-box">
            <i class='bx bx-loader-circle'></i>
        </div>
        <div class="status-text-box">
            <h1 id="status-title">Checking connection...</h1>
            <p id="status-description">Please wait while we check the connection status.</p>
        </div>
    </div>

    <script src="../static/js/operation_status.script.js"></script>
</body>
</html>
