<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/imgs/nebula-RF-logo.png" type="image/x-icon">
    <title>NRF | Access Denied</title>
    <link rel="stylesheet" href="../static/css/access_denied.style.css">
</head>
<body>

    <div class="AccessDenied-container">
        <div class="icon-box">
            <img src="../static/imgs/icon/access-denied-icon.png" alt="access-denied-icon">
        </div>
        <div class="status-text-box">
            <h1 id="status-title">Access Denied</h1>
            <p id="status-description">You do not have the necessary permissions to view this page.</p>
            <p id="additional-info">If you believe this is an error, please contact your system administrator.</p>
            <a href="{{ url_for('login') }}" class="return-login">Return to Login</a>
        </div>
    </div>

</body>
</html>
